@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
}

.icon-text {
  color: #fff;
  text-align: left;
}

.btn {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, .7);
}

.btn:hover {
  color: #ff9500;
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  .border {
    border-bottom: none;
    border-right: solid rgba(255, 255, 255, .5);
  }
}
